


    <div class="message-container">
      <div class="pic-container">
        <%= image_tag message.user.avatar.url if message.user.avatar? %>
        <%= gravatar_forum(message.user) %>

        <div class="status"></div>
      </div>
      <h3 class="name"><%= message.user.username %></h3>
      <div class="message">
        <p><%= message.body %></p>
      </div>
      <div class="time"><span><%= time_ago_in_words(message.created_at) %> ago</span></div>
    </div>
