<% provide(:title, "Log in") %>
<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<%= form_for(:session, url: login_path, class: 'form', id: 'login-nav') do |f| %>
<div class="form-group">
<%= f.label :email, class: 'sr-only' %>
<%= f.email_field :email, placeholder: 'Email address', class:'form-control' %>
</div>
<div class="form-group">
<%= f.label :password, class: 'sr-only' %>
<%= f.password_field :password, placeholder: 'Enter Password', class: 'form-control' %>

<div class="help-block text-right"><a href="">Forget the password ?</a></div>
</div>
<div class="checkbox">
<%= f.label :remember_me, class: "checkbox inline" do %>
<%= f.check_box :remember_me %>
<span>Remember me on this computer</span>
</div>
<% end %>
<%= f.submit 'signin', class:'btn btn-primary btn-block' %>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
<% end %>


<form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
 <div class="form-group">
  <label class="sr-only" for="exampleInputEmail2">Email address</label>
  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
 </div>
 <div class="form-group">
  <label class="sr-only" for="exampleInputPassword2">Password</label>
  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>

 <div class="form-group">
  <button type="submit" class="btn btn-primary btn-block">Sign in</button>
 </div>
 <div class="checkbox">
  <label>
   <input type="checkbox"> keep me logged-in
  </label>
 </div>
</form>
