<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<h5><%= t("forem.post.edit", :post => @post) %></h5>

<%= simple_form_for [forem, @topic.forum, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.edit"), :class => "btn light-blue accent-4" %>
<% end %>
