
  <% comments.each do |comment| %>

  <ul class="collection">
  <li class="collection-item avatar">
    <%= gravatar_comment comment.user %>

    <span class="title"><%= comment.user.name %></span>
    <p><%= comment.body %>
    </p>
    <a href="#!" class="secondary-content"><%= time_ago_in_words(comment.created_at) %> Ago</a>
  </li>
</ul>
<div class="comments-show">
<div class="comment">
  <div class="comment-nav">
      <div class="stats">
        <%= link_to '<i class="tiny material-icons">thumb_up</i>'.html_safe, {:controller =>"comments", :action => "upvote", :id => comment.id}, method: :put %>
        <span class="blue accent-3"> <%= comment.get_upvotes.size %></span>
        <%= link_to '<i class="tiny material-icons">thumb_down</i>'.html_safe, {:controller =>"comments", :action => "downvote", :id => comment.id}, method: :put %>
          <span class="red accent-4"><%= comment.get_downvotes.size %></span>

      <a href="#" class="comment-reply">reply</a>
    </div>
    </div>
    <div class="reply-form">
      <%= form_for @new_comment do |f| %>
      <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
      <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
      <%= f.hidden_field :comment_id, value: comment.id %>
      <div class="field form-group">
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= submit_tag "Post Reply", class: 'btn light-blue darken-4' %>
      </div>
      <% end %>
    </div>
  </div>
  <%= render partial: "comments/reply", locals: {comments: comment.children} %>
</div>
<% end %>
