

<%= link_to chatgroup do %>
<li class="collection-item forum-thread"><div><%= chatgroup.name %> <div class="secondary-content">
  <span class="forum-details"><%= link_to 'Edit', edit_chatgroup_path(chatgroup) %> </span>
   <span class="forum-details"><%= link_to "Join Room", chatgroup_chatgroup_users_path(chatgroup), method: :post %></span>
<span class="forum-subject"><%= link_to "Leave Room", chatgroup_chatgroup_users_path(chatgroup), method: :delete %> </span>
<span class="forum-subject"><%= link_to 'Destroy', chatgroup, method: :delete, data: { confirm: 'Are you sure?' }  %> </span>
</div>
 </div></li>
<% end %>
