<p id="notice"><%= notice %></p>

<script type="text/javascript">

$(document).ready(function () {
  var $cont = $('.content');
$cont[0].scrollTop = $cont[0].scrollHeight;
});


</script>

 <div class="main_chat">
 <div class="main_chat_title"> <%= @chatgroup.name %>   <%= @chatgroup.messages.count %> messages<span>  <%= link_to edit_chatgroup_path(@chatgroup) do %><i class="material-icons">edit</i> <% end %>
 </span> <span><%= link_to chatgroups_path do %> <i class="material-icons">reply_all</i><% end %></span></%> <span><i class="material-icons">delete_sweep</i></span></div>
   <div class="main_chat_users">
   <div class="input-field main_chat_search">
           <input id="search" type="search" required>
           <label for="search"><i class="material-icons">search</i></label>
           <i class="material-icons">close</i>
         </div>
     <ul class="collection">

       <%  (@chatgroup.users - [current_user]).each do |user|  %>
       <%= link_to  direct_message_path(user.id), data: {behavior: "chatgroup-link", chatgroup_id: Chatgroup.direct_message_for_users([current_user, user]).id } do %>
       <li class="collection-item avatar">
         <%= gravatar_forum(user)  %>

         <span class="title"><%= user.name %></span>
         <p>   <%= user.username %>
         </p>

       </li>
       <% end %>



       <% end %>



   </ul>
   </div>
   <div class="main_chat_messages">
     <% unread_messages = false %>
<div class="content" data-behavior="messages" data-chatgroup-id="<%= @chatgroup.id %>" id="content">
  <% @messages.each do |message| %>
    <% if !unread_messages && @chatgroup_user.last_read_at < message.created_at %>
      <% unread_messages = true %>
      <div class="strike"><span>Unread Messages</span></div>
    <% end %>

    <%= render message %>
  <% end %>
</div>

     <div class="editor ">
       <%= form_for [@chatgroup, Message.new] do |f| %>
       <%= f.text_field :body, autofocus: :true, class: "main_chat_form"  %>
     <button class="btn btn-icon btn-big right">send</button>
<% end %>
   </div>
     </div>


 </div>
