<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chatgroup.name %>
</p>
<div class="" data-behavior="messages">
<% @chatgroup.messages.order(created_at: :desc).limit(100).reverse.each do |message| %>
<%= render message %>
<% end %>
</div>
 <%= form_for [@chatgroup, Message.new], remote: true do |f| %>
<div id="new_message">
  <%= f.text_field :body, autofocus: :true, id: "new_message"  %>
</div>
<% end %>
<%= link_to 'Edit', edit_chatgroup_path(@chatgroup) %> |
<%= link_to 'Back', chatgroups_path %>
