<p id="notice"><%= notice %></p>

 <%= @chatgroup.name %>
 <div class="main_chat">
 <div class="main_chat_title"> this title area</div>
   <div class="main_chat_users">
   <div class="input-field main_chat_search">
           <input id="search" type="search" required>
           <label for="search"><i class="material-icons">search</i></label>
           <i class="material-icons">close</i>
         </div>
     <ul class="collection">
     <li class="collection-item avatar">
       <img src="images/yuna.jpg" alt="" class="circle">
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>

        <li class="collection-item avatar">
       <i class="material-icons circle">folder</i>
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>
        <li class="collection-item avatar">
       <i class="material-icons circle">folder</i>
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>
        <li class="collection-item avatar">
       <i class="material-icons circle">folder</i>
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>
        <li class="collection-item avatar">
       <i class="material-icons circle">folder</i>
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>
        <li class="collection-item avatar">
       <i class="material-icons circle">folder</i>
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>
        <li class="collection-item avatar">
       <i class="material-icons circle">folder</i>
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>
        <li class="collection-item avatar">
       <i class="material-icons circle">folder</i>
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>
        <li class="collection-item avatar">
       <i class="material-icons circle">folder</i>
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>
     <li class="collection-item avatar">
       <i class="material-icons circle green">insert_chart</i>
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>
     <li class="collection-item avatar">
       <i class="material-icons circle red">play_arrow</i>
       <span class="title">Title</span>
       <p>First Line <br>
          Second Line
       </p>

     </li>
   </ul>
   </div>
   <div class="main_chat_messages">
     <div class="" data-behavior="messages" data-chatgroup-id="<%= @chatgroup.id %>" id="content">
     <% @chatgroup.messages.order(created_at: :desc).limit(100).reverse.each do |message| %>
     <%= render message %>
     <% end %>
     </div>
     <div class="editor">
       <%= form_for [@chatgroup, Message.new] do |f| %>
       <%= f.text_field :body, autofocus: :true  %>
     <%= f.submit "send", class: "btn btn-icon btn-big right" do %>
  <i class="send">
      <% end %>
<% end %>
   </div>









         </div>


 </div>
 </div>













  <%= link_to 'Edit', edit_chatgroup_path(@chatgroup) %> |
  <%= link_to 'Back', chatgroups_path %>
