
<% if current_user && current_user.admin? %>
<h4 class="center-align">Add new Blog post</h4>

<%= form_for @article, html: { multipart: true } do |f| %>
<% if @article.errors.any? %>
<div id="error_explanation">
    <div class="notice red darken-4">
        The form contains <%= pluralize(@article.errors.count, "error") %>.
    </div>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li class="notice red"><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
<h5>Add a preview picture</h5>
<span class="picture">
    <%= f.file_field :picture_article %>
</span> <br>
<div class="form-group">
<%= f.label :title, class: 'active' %><br>
<%= f.text_field :title, class: 'form-control'%><br>
</div>

<%= f.cktext_area :body, :ckeditor => {:toolbar => 'mini'} %>

<br>
<div class="form-group">
  <label for="fenter_subject">Enter tags</label>
  <%= f.text_field :tag_list %>

</div>

<%= f.submit  class: 'btn light-blue accent-4' %>
<% end %>
<% else %>

<h2>Only admin can create a user</h2>
<% end %>
