<% if current_user && current_user.admin? %>
<% provide(:title, "edit Blog") %>
<h1>New Post</h1>

<%= form_for @article, html: { multipart: true } do |f| %>
<span class="picture">
    <%= f.file_field :picture_article %>
</span> <br>
<%= f.label :title %><br>
<%= f.text_field :title %><br>
<br>
<%= f.cktext_area :body, id: 'content' %>

<br>
<%= f.text_field :tag_list %>
<%= f.submit  "Add blog", class: "btn light-blue darken-4" %>
<% end %>
<% else %>
<h2>You dont have enough privileges</h2>
<% end %>
<script>
      $(function() {
          $('#edit').froalaEditor()
      });
  </script>
