
<% provide(:title, "New Blog") %>
<% if current_user && current_user.admin? %>
<h1>New Post</h1>

<%= form_for :article, url: articles_path, html: { multipart: true } do |f| %>
<h2>Add picture preview</h2>
<span class="picture">
    <%= f.file_field :picture_article %>
</span>
<%= f.label :title %><br>
<%= f.text_field :title %><br>
<br>
<%= f.label :body %><br>
<%= f.cktext_area :body, :ckeditor => {:toolbar => 'mini'} %>

<br>
<%= f.text_field :tag_list %>
<%= f.submit %>
<% end %>
<% else %>

<h2>Only admin can create a user</h2>
<% end %>
