
<% provide(:title, "New Blog") %>
<% if current_user && current_user.admin? %>
<h4 class="center-align">Add new Blog post</h4>

<%= form_for :article, url: articles_path, html: { multipart: true } do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<h5>Add a preview picture</h5>
<span class="picture">
    <%= f.file_field :picture_article %>
</span> <br>
<div class="form-group">
<%= f.label :title, class: 'active' %><br>
<%= f.text_field :title, class: 'form-control'%><br>
</div>

<%= f.cktext_area :body, :ckeditor => {:toolbar => 'mini'} %>

<br>
<%= f.text_field :tag_list %>
<%= f.submit  class: 'btn light-blue accent-4' %>
<% end %>
<% else %>

<h2>Only admin can create a user</h2>
<% end %>
