<% provide(:title,  @article.title ) %>
<!-- Blog Post Content Column -->
<% if logged_in? %>
<div class="col s12">

      <div class="card-panel">


          <h4 class="text-centre"><%= @article.title %></h4>

          <hr>
      <!-- Date/Time -->
          <p><span class="glyphicon glyphicon-time"></span> Posted on <%= time_ago_in_words(@article.created_at) %> ago
              <span class="glyphicon glyphicon-time"> <%= "#{@article.impressionist_count} views" %></span></p>
       <hr>
      <!-- Preview Image -->

          <div class="article-preview">
          <%= image_tag @article.picture_article.url if @article.picture_article? %>
          </div>
          <hr>

          <!-- Post Content -->
          <div class="post-body flow-text">
             <%= raw @article.body %>
          </div>
<%= social_share_button_tag(@article.title) %>
          <hr>


      <div><%= render @article.tags %></div>
          <div><%= link_to 'Back to Blog', articles_path %></div>
      <% if current_user && current_user.admin? %>
      <div><%= link_to 'Edit', edit_article_path(@article) %> |
          <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>


      </div>

<% else %>
<div class="col s12">
  <div class="row">
    <div class="col s12 m9 l9">
      <div class="card-panel">


          <h4 class="text-centre"><%= @article.title %></h4>

          <hr>
      <!-- Date/Time -->
          <p><span class="glyphicon glyphicon-time"></span> Posted on <%= time_ago_in_words(@article.created_at) %> ago
              <span class="glyphicon glyphicon-time"> <%= "#{@article.impressionist_count} views" %></span></p>
       <hr>
      <!-- Preview Image -->
          <div class="article-preview">
          <%= image_tag @article.picture_article.url if @article.picture_article? %>
          </div>
          <hr>

          <!-- Post Content -->
          <div class="post-body flow-text">
             <%= raw @article.body %>
          </div>
 <%= social_share_button_tag(@article.title) %>
          <hr>


      <div><%= render @article.tags %></div>
          <div><%= link_to 'Back to Blog', articles_path %></div>
      <% if current_user && current_user.admin? %>
      <div><%= link_to 'Edit', edit_article_path(@article) %> |
          <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>

      </div>
    </div>
    <div class="col s12 m3 l3">




        <ul class="collection">
          <li class="collection-header"><h4>Recent Articles</h4></li>
          <% @articles.each do |article| %>

          <li class="collection-item avatar grey lighten-5 z-depth-1">
            <%= link_to (image_tag article.picture_article.url), article_path(article) %>
            <span class="title"><%= link_to article.title, article %></span>
            <p>  <%= raw truncate_html(article.body, length: 190) %>
            </p>
              <%= link_to "read more", article %></p>

          </li>

      <% end %>
    </ul>
  </div>
      </div>
<% end %>


<% if logged_in? %>
<div id="comments">

    <%= render partial: "comments/template", locals: {commentable: @article, new_comment: @comment} %>


</div>
<% else %>

 <!-- <h4>Login</h4> -->
<div class="row">
   <div class="col s12 m6 l6">
      <h4>please login to join the conversation</h4>
      <% provide(:title, "Log in") %>
      <%= form_for(:session, url: login_path, class: 'form', id: 'login-nav') do |f| %>
      <div class="input-fieldp">
        <%= f.label :email, class: 'active' %>
        <%= f.email_field :email, placeholder: 'Email address', class:'form-control' %>
      </div>
      <div class="input-field">
        <%= f.label :password, class: 'active' %>
        <%= f.password_field :password, placeholder: 'Enter Password', class: 'form-control' %>

        <div class="help-block text-right"><%= link_to "(forgot password)", new_password_reset_path %></div>
      </div>
      <div class="checkbox">
        <%= f.label :remember_me, class: "filled-in", id: "filled-in-box", checked: "checked" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      </div>
      <% end %>
      <%= f.submit 'Sign In', class:'waves-effect waves-light btn' %>
      <p>New user?
        <%= link_to "Sign up now!", signup_path %></p>
      <% end %>

   </div>
</div>

<% end %>

</div>
