<% provide(:title,  @article.title ) %>
<!-- Blog Post Content Column -->
<div class="col s12">

    <!-- Blog Post -->

    <!-- Title -->
    <h1 class="text-centre"><%= @article.title %></h1>

    <!-- Author -->


    <hr>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> Posted on <%= time_ago_in_words(@article.created_at) %>
        <span class="glyphicon glyphicon-time"> <%= "#{@article.impressionist_count} views" %></span></p>

    <hr>

    <!-- Preview Image -->
    <div class="article-preview">
    <%= image_tag @article.picture_article.url if @article.picture_article? %>
    </div>
    <hr>

    <!-- Post Content -->
    <p> <%= raw @article.body %></p>

    <hr>


<div><%= render @article.tags %></div>
    <div><%= link_to 'Back to Blog', articles_path %></div>
<% if current_user && current_user.admin? %>
<div><%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></div>
<% end %>


<% if logged_in? %>
<div id="comments">

    <%= render partial: "comments/template", locals: {commentable: @article, new_comment: @comment} %>


</div>
<% else %>
 <h1>please login to join the conversation</h1>
<% end %>

</div>
