<div class="col-sm-4">
    <!-- Begin user profile -->
    <div class="box-info text-center user-profile-2">
        <div class="header-cover">
            <img src="http://bootdey.com/img/Content/bg_element.jpg" alt="User cover">
        </div>
        <div class="user-profile-inner">
            <h4 class="white">
            <%= link_to user.name, user %></h4>
            <%= gravatar_all user %>
          <h5><%= user.position %></h5>

            <!-- User button -->
            <div class="user-button">
                <div class="row">

                      <% if current_user.admin? && !current_user?(user) %>
                  <div class="col-md-6">
                     <%= link_to "delete", user, method: :delete,class: 'waves-effect waves-light btn',
data: { confirm: "You sure?" } %>
                  </div>

                      <% end %>


                    <div class="col-md-6">
                        <button type="button" class="waves-effect waves-light btn"><i class="fa fa-user"></i> Follow</button>
                    </div>
                         <div class="col-md-6">
                             <% unless current_user == @user %>
                             <%= link_to 'Send message', new_message_path(to: user.id), class: 'waves-effect waves-light btn' %>
                             <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
