<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
     <%= form_for(@user, html: { multipart: true }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.label :username, class: 'form-control' %>
        <%= f.text_field :username, class: 'form-control' %>
        <%= f.label :description, class: 'form-control' %>
        <%= f.text_field :description, class: 'form-control' %>
     <span class="picture">
      <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png' %>
      <%= image_tag @user.avatar.url if @user.avatar? %>
     </span>
        <%= f.label :age, "Input your age"%>
        <%= f.text_field :age, class: 'form-control input-date', id: 'input-date', value: '2000-10-31' %>
        <span class="result"></span>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
