<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
     <%= form_for(@user, html: { multipart: true }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.label :username, class: 'form-control' %>
        <%= f.text_field :username, class: 'form-control' %>
        <%= f.label :description, class: 'form-control' %>
        <%= f.text_field :description, class: 'form-control' %>
     <div class="picture">
         <div class="file-field input-field">
             <div class="btn">
                     <span>File</span>
<%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png' %>
            </div>
                   <div class="file-path-wrapper">
                     <input class="file-path validate" type="text" placeholder="Upload one or more files">
                   </div>
         </div>
      <%= image_tag @user.avatar.url if @user.avatar? %>
  </div>

  <div class="picture">
      <div class="file-field input-field">
          <div class="btn">
                  <span>File</span>
<%= f.file_field :dprofile, accept: 'image/jpeg,image/gif,image/png' %>
         </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
      </div>
   <%= image_tag @user.dprofile.url if @user.dprofile? %>
</div>
        <%= f.check_box :is_female, {}, true %> <%= f.label :is_female, "Female" %>
        <%= f.check_box :is_female, {}, false %> <%= f.label :is_female, "Male" %> <br>
        <%= f.label :birthdate, "Age"%> <br>
        <%= f.date_field :birthdate, class: "datepicker" %> <br>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <%= f.submit "Save changes", class: "waves-effect waves-light btn" %>
        <% end %>
    </div>
</div>
