<% provide(:title, @user.name) %>
<div class="row user-menu-container square">
    <div class="col-md-12 user-details">
        <div class="row coralbg white">
            <div class="col-md-6 no-pad">
                <div class="user-pad">
                    <h3><%= @user.name %></h3>
                    <h4 class="white"><i class="fa fa-eye"></i> <%= @user.age %></h4>
                    <h4 class="white"><i class="fa fa-user-md"></i> <%= @user.username %></h4>

                    <h4 class="btn-label"><i class="fa fa-pencil"></i> <% unless current_user == @user %>
                        <%= link_to 'Send message', new_message_path(to: @user.id), class: 'btn btn-default btn-sm' %>
                        <% end %></h4>
                </div>
            </div>
            <div class="col-md-6 no-pad">
                <div class="user-image">
                    <%= gravatar_profile @user %>
                </div>
            </div>
        </div>
        <%= render 'shared/stats' %>
    </div>


</div>


<div class="row">
 <div class="col-lg-3 col-sm-3 col-xs-12"><section class="micropost_form">
  <%= @user.email %>,

  <h1>
   <%= gravatar_for @user %>
   <%= @user.name %>
  </h1>
  </section>
  </div>
<% if @user.microposts.any? %>
<div class="col-lg-9 col-sm-9 col-xs-12"><h3>Microposts (<%= @user.microposts.count %>)</h3>
  <ol class="microposts">
   <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts %></div>
</div>


<% end %>
