<% provide(:title, @user.name) %>
<div class="row user-menu-container square">
    <div class="col l12 user-details">
        <div class="row coralbg">
            <div class="col s6 no-pad">
                <div class="user-pad">
                    <h3><i class="small material-icons">perm_identity</i><%= @user.name %></h3>
                    <h3 ><i class="small material-icons">perm_identity</i> <%= @user.username %></h3>
                    <h3 ><i class="small material-icons">perm_identity</i>   <%= @user.email %></h3>
                    <h3 ><i class="small material-icons">perm_identity</i> <%= @user.birthdate %></h3>

                    <% unless current_user == @user %>
                        <%= link_to(new_message_path(to: @user.id), :class => 'waves-effect waves-light btn') do %>
  <i class="fa fa-pencil"></i>  Send message
<% end %>
                     
                      
                     <% end %>
                </div>
            </div>
            <div class="col s6 no-pad">
                <div class="user-image">
                    <%= gravatar_profile @user %>
                </div>
            </div>
        </div>
        <%= render 'shared/stats' %>
    </div>


</div>


<div class="row">
    <div class="col s12 m3 l3 hidden-xs">
    <section class="micropost_form">
<h5>
   <%= gravatar_for @user %>
   <%= @user.name %>
  </h5>
  </section>
  </div>
<% if @user.microposts.any? %>
<div class="col s12 m9 l9"><h3>Microposts (<%= @user.microposts.count %>)</h3>
  <ol class="microposts">
   <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts %></div>
</div>


<% end %>
