
<div class="input-field">
          <%= search_form_for @q, html: { class: "form-inline" } do |f| %>

            <%= f.search_field :subject_or_forum_posts_body_cont, id: "search" %>

            <label for="search"> <i class="material-icons">search</i></label>

            <i class="material-icons">close</i>
          <% end %>

  </div>
  <h3 class="question-test">Recent Questions</h3>

  <% @forum_threads.each do |forum_thread| %>
  <div class="card questions">
    <%= link_to forum_thread_path(id: forum_thread.slug) do %>
    <div class="questions-wrap">
      <div class="questions-subject">
        <%= forum_thread.subject%>
      </div>

    <div class="questions-user">
      <%= gravatar_forum(forum_thread.user, size: 12)  %>
        <%= forum_thread.user.name %>
    </div>
    </div>


  <% end %>
</div>

  <% end %>
