<% @user ||= current_user %>

<div class="row overview">

    <div class="col s6 m3 user-pad text-center">


        <a href="<%= followers_user_path(@user) %>">
            <strong id="followers">
                <h5><%= @user.followers.count %></h5>

         </strong>
            <h6>FOLLOWERS</h6>
        </a>


    </div>


    <div class="col s6 m3 user-pad text-center">


        <a href="<%= following_user_path(@user) %>">
            <strong id="following">
                <h5><%= @user.following.count %></h5>


            </strong>
            <h6>FOLLOWING</h6>
        </a>

    </div>
    <% if logged_in? %>
    <div class="col s4 m4 user-pad text-center">
        <h3><%= render 'users/follow_form' %></h3>

    </div>
    <% end %>
</div>
