<% @user ||= current_user %>

<div class="row overview">
    <div class="col-sm-6 col-xs-6 user-pad text-center">
        <a href="<%= followers_user_path(@user) %>">
            <strong id="followers">
                <h4><%= @user.followers.count %></h4>

         </strong>
            <h5>FOLOWERS</h5>
        </a>


    </div>
    <div class="col-sm-6 col-xs-6 user-pad text-center">
        <a href="<%= following_user_path(@user) %>">
            <strong id="following">
                <h4><%= @user.following.count %></h4>


            </strong>
            <h5>FOLOWING</h5>
        </a>

    </div>
    <div class="col-sm-4 col-xs-12 user-pad text-center">
        <h3><%= render 'users/follow_form' if logged_in? %></h3>

    </div>
</div>
