<% @user ||= current_user %>

<div class="row overview">

    <div class="col-sm-6 col-xs-6 user-pad text-center">

        <a href="<%= followers_user_path(@user) %>">
            <strong id="followers">
                <h4><%= @user.followers.count %></h4>

         </strong>
            <h5>FOLLOWERS</h5>
        </a>


    </div>

    <div class="col-sm-6 col-xs-6 user-pad text-center">

        <a href="<%= following_user_path(@user) %>">
            <strong id="following">
                <h4><%= @user.following.count %></h4>


            </strong>
            <h5>FOLLOWING</h5>
        </a>

    </div>
    <% if logged_in? %>
    <div class="col-sm-4 col-xs-4 user-pad text-center">
        <h3><%= render 'users/follow_form' %></h3>

    </div>
    <% end %>
</div>
