<% @user ||= current_user %>

<div class="row overview">
    <div class="col-sm-6 col-xs-12 user-pad text-center">
        <a href="<%= followers_user_path(@user) %>">
            <strong id="followers">
        <h3>FOLLOWERS</h3>
         </strong>
        </a>
      <h4><%= @user.followers.count %></h4>

    </div>
    <div class="col-sm-6 col-xs-12 user-pad text-center">
        <a href="<%= following_user_path(@user) %>">
            <strong id="following">
        <h3>FOLLOWING</h3>

            </strong>
        </a>
      <h4><%= @user.following.count %></h4>
    </div>
    <div class="col-sm-4 col-xs-12 user-pad text-center">
        <h3><%= render 'users/follow_form' if logged_in? %></h3>

    </div>
</div>
