<% provide(:title, "About ") %>
<div class="card-panel">

  <div class="about">
    <h2 class="center-align"> about insomniax</h2>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag('atussed.jpg') %></div>
    </div>

    <p class="flow-text">Insomniax is an open source social networking community where you can learn,
      teach and discuss I.T and all I.T related matters.

At insomniax,it is where security meets efficiency.
All traffics on the site are encrypted with an open source ssl certificate from letsencrypt and all  informations on our databases
are hashed and salted and this applies to all cookies too.
The servers are diamond solid,precious and hard to break in.
    </p>
  </div>

<div class="team">
  <h2 class="center-align"> team</h2>
  <p class="center-align">
    insominiax team is build with love and this are our humble hard working team members
  </p>

  <div class="row">
    <div class="col s12 m4">
          <div class="card small">
            <div class="card-image">
                <%= image_tag('atus.jpg', class: "responsive-img") %>
              <span class="card-title">Atus r0ot</span>
            </div>
            <div class="card-content">
              <p>I am a very simple Guy. A all around sysadmin and part time developer</p>
            </div>
            <div class="card-action">
              <a href="https://insomniax.biz/users/66">My profile</a>
            </div>
          </div>
    </div>
    <div class="col s12 m4">
              <div class="card small">
                <div class="card-image">
                  <%= image_tag('geniuskid.jpeg', class: "responsive-img") %>
                  <span class="card-title">Geniuskid Kanyi</span>
                </div>
                <div class="card-content">
                  <p>A hardworking simple yet suphisticated person. A full stack developer trying to make web a better place</p>
                </div>
                <div class="card-action">
                  <a href="https://insomniax.biz/users/5">My profile</a>
                </div>
              </div>
    </div>
    <div class="col s12 m4">
                  <div class="card small">
                    <div class="card-image">
                        <%= image_tag('pablo.jpg', class: "responsive-img") %>
                      <span class="card-title">Pablo Gee</span>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple Guy, who was just a beginner like you yeah I mean you.  love research because that is the attitude everyone needs to adopt. Thank you!!! .</p>
                    </div>
                    <div class="card-action">
                      <a href="https://insomniax.biz/users/10">My profile</a>
                    </div>
                  </div>
    </div>
    <div class="col s12 m4">
                      <div class="card small">
                        <div class="card-image">
                            <%= image_tag('optimus.jpg', class: "responsive-img") %>
                          <span class="card-title">Optimus prime</span>
                        </div>
                        <div class="card-content">
                          <p>"S3cr3t v3n0m" A hacker by nature, provied security for the server and the application.</p>
                        </div>
                        <div class="card-action">
                          <a href="https://insomniax.biz/users/37">My profile</a>
                        </div>
                      </div>
      </div>
</div>

</div>
</div>
