

  <%= div_for forum_post do %>
<div class="card forum col s12 m10 l9 offset-m1 offset-l2 ">
<div class="forum-pic">
  <%= gravatar_forum(forum_post.user, size: 54)  %>
</div>
<div class="forum-message">
  <div class="forum-detail">
    <%= forum_post.user.name %> commented on <%= local_time_ago forum_post.created_at %>
  </div>
<%= markdownify forum_post.body %>
</div>



</div>


<% end %>
