<div class="card col s12 m10 l9 offset-m2 offset-l3 news-feed-list">
<div class="news-feed-details">
  <%= link_to gravatar_post(micropost.user, size: 72), micropost.user, class: "news-feed-image" %>
<div class="news-feed-person"><h5><%= link_to micropost.user.name, micropost.user %></h5>
 <span><%= link_to micropost.user.username, micropost.user %></span></div>
 <div class="news-feed-time"> 4 hours ago</div>
   </div>
 <hr />
 <div class="news-feed-content">
   <div class="micropost-img">  <%= image_tag micropost.picture.url unless micropost.picture.blank?  %></div>
<%= markdownify micropost.content %>

 </div>
 <div class="news-feed-social">
 <span><%= div_for micropost do %>
     <%= render partial: "microposts/likes", locals: { micropost: micropost } %>
  <% end %>
</span>

 </div>

</div>
