<div class="row">
  <ul class="collection">
    <li class="collection-item avatar">
      <%= link_to gravatar_post(micropost.user, size: 50), micropost.user %>
      <span class="title"><%= link_to micropost.user.name, micropost.user %>
        made a post.</span>
      <span class="title secondary-content"><%= time_ago_in_words(micropost.created_at) %>
        ago</span>
      <p><%= micropost.content %>
        <br>
        <%= image_tag micropost.picture.url unless micropost.picture.blank?  %></p>
    </li>
    <div class="stats">

      <%= link_to like_micropost_path(micropost), method: :get, class: "vote", remote: true do %>
      <div id="vote">
           <i class="material-icons">favorite_border</i> <%= "#{micropost.get_upvotes.size}" %>
      </div>



      <% end %>

      <%= link_to dislike_micropost_path(micropost), method: :get, class: " vote", remote: true  do %>
      <div id="unvote">
  <i class="material-icons">thumb_down</i><%= "#{micropost.get_downvotes.size}" %>
      </div>


      <% end %>
      <script type="text/x-template" id="micropost-row">
        <tr>
          <td>{{ micropost.get_upvotes }}</td>

        </tr>
      </script>
    </div>

  </ul>

</div>
