<div class="edit_form" style="display:none">
  <%= form_for comment, remote: true, html:{ role: :form } do |f| %>
  <table class="table table-striped table-hover">
    <tr style="width: 100px;">
      <td>
        <b>
          <%= comment.commentable_type %>
        </b>
        &rarr;
      </td>
      <td>
        <%= link_to comment.commentable_title, comment.commentable_url %>
        (#{comment.try(:commentable_state)})
      </td>
    </tr>
    <tr>
      <td>
        <b>
          <%= t('the_comments.title') %>
        </b>
      </td>
      <td>
        <%= f.text_field :title, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td>
        <b>
          <%= t('the_comments.contacts') %>
        </b>
      </td>
      <td>
        <%= f.text_field :contacts, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td>
        <b>
          <%= t('the_comments.content') %>
        </b>
      </td>
      <td>
        <%= f.text_area  :raw_content, class: "form-control", rows: 7 %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.submit t('the_comments.update'), class: "btn btn-success" %>
      </td>
    </tr>
  </table>
  <% end %>
  <hr/>
</div>
