<h3>
  <%= link_to t('the_comments.new'), '#', id: :new_root_comment %>
</h3>
<%= form_for Comment.new, remote: true, authenticity_token: true do |f| %>
<div class="error_notifier" style="display:none"></div>
<label>
  <%= t('the_comments.form.title') %>
</label>
<p>
  <%= f.text_field :title %>
</p>
<label>
  <%= t('the_comments.form.contacts') %>
</label>
<p>
  <%= f.text_field :contacts %>
</p>
<label>
  <%= t('the_comments.form.content') %>
</label>
<p>
  <%= f.text_area :raw_content %>
</p>
<p class="trap">
  <% TheComments.config.empty_inputs.each do |name| %>
  <%= text_field_tag name, nil, autocomplete: :off, tabindex: -1, id: nil %>
  <% end %>
</p>
<%= hidden_field_tag :tolerance_time, 0, id: nil, class: :tolerance_time %>
<%= f.hidden_field :commentable_type, value: commentable.class %>
<%= f.hidden_field :commentable_id,   value: commentable.id %>
<%= f.hidden_field :parent_id, class: :parent_id %>
<p>
  <%= f.submit t('the_comments.form.create'), class: :btn %>
  <%= t('the_comments.form.thank_you') %>
</p>
<% end %>

Interactive push notifications for Android and iOS
Get in touch
Fast SSD servers
