<% cuser = current_user %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <%= t "the_comments.nav.header" %>
  </div>
  <div class="panel-body">
    <p>
      <%= link_to raw(t('the_comments.back_to_root')), '/' %>
    </p>
    <hr/>
    <h5>
      <%= t 'the_comments.incoming' %>
    </h5>
    <ul>
      <li>
        <%= link_to t("the_comments.draft_comments",     num: cuser.draft_comcoms_count),     [:draft,     :comments] %>
      </li>
      <li>
        <%= link_to t("the_comments.published_comments", num: cuser.published_comcoms_count), [:published, :comments] %>
      </li>
      <li>
        <%= link_to t("the_comments.deleted_comments",   num: cuser.deleted_comcoms_count),   [:deleted,   :comments] %>
      </li>
      <li>
        <%= link_to t("the_comments.spam_comments",      num: cuser.spam_comcoms_count),      [:spam,      :comments] %>
      </li>
    </ul>
    <h5>
      <%= t 'the_comments.written_by_me' %>
    </h5>
    <ul>
      <li>
        <%= link_to t("the_comments.draft_comments",     num: cuser.my_draft_comments.count),     [:my_draft,     :comments] %>
      </li>
      <li>
        <%= link_to t("the_comments.published_comments", num: cuser.my_published_comments.count), [:my_published, :comments] %>
      </li>
      <li>
        <%= link_to t("the_comments.my_comments",        num: cuser.my_comments_count),           [:my_comments,  :comments] %>
      </li>
    </ul>
    <% if cuser.comments_admin? %>
    <h5>
      <%= t 'the_comments.in_system' %>
    </h5>
    <ul>
      <li>
        <%= link_to t("the_comments.draft_comments",     num: Comment.with_state(:draft).count),     [:total_draft,     :comments] %>
      </li>
      <li>
        <%= link_to t("the_comments.published_comments", num: Comment.with_state(:published).count), [:total_published, :comments] %>
      </li>
      <li>
        <%= link_to t("the_comments.deleted_comments",   num: Comment.with_state(:deleted).count),   [:total_deleted,   :comments] %>
      </li>
      <li>
        <%= link_to t("the_comments.spam_comments",      num: Comment.where(spam: true).count),      [:total_spam,      :comments] %>
      </li>
    </ul>
    <% end %>
  </div>
</div>
