<%= form_for @forum_thread do |f| %>
  <%= render "shared/error_messages", object: @forum_thread %>
  <div class="row">
  <div class="input-field col s12">
        <%= f.text_field :subject, id: "enter_subject", class: "validate" %>

            <label for="fenter_subject">Enter title</label>
  </div>



  <%= f.fields_for :forum_posts do |p| %>
  <div class="input-field col s12">

    <%= p.text_area :body,rows: '10', id: "textarea2", class: "materialize-textarea" %>
<% end %>

      </div>


  <%= f.button "create thread", class: "waves-effect waves-light btn loginButton" %>
  <p class="parse">
    parse with markdown
  </p>
</div>

<% end %>
