<% if logged_in? %>
 <header class="cd-main-header">
   <div class="cd-logo"><%= link_to image_tag('cd-logo.svg', alt: 'logo'), '#' %></div>

  <div class="cd-search is-hidden">
    <form action="#0">
      <input type="search" placeholder="Search...">
    </form>
  </div> <!-- cd-search -->

  <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

  <nav class="cd-nav">
    <ul class="cd-top-nav">
      <li><a href="#0">Tour</a></li>
      <li><a href="#0">Support</a></li>
      <li class="has-children account">
        <a href="#0">

          Account
        </a>

        <ul>

          <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Edit Account", edit_user_path(current_user) %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  </nav>
</header> <!-- .cd-main-header -->
    <% else %>
<header>
  <div class="cd-logo-unlog"><%= link_to image_tag('cd-logo.svg', alt: 'logo'), '#' %></div>

  <nav class="cd-main-nav-wrapper">
    <ul class="cd-main-nav">
      <li><a href="#0">About</a></li>
        <li><%= link_to "Log in", login_path, class: 'cd-signin' %></li>
      <li><a href="#0">Blog</a></li>
      <li><a href="#0">Contact</a></li>
      <li>
        <a href="#0" class="cd-subnav-trigger"><span>Categories</span></a>

        <ul>
          <li class="go-back"><a href="#0">Menu</a></li>
          <li><a href="#0">Category 1</a></li>
          <li><a href="#0">Category 2</a></li>
          <li><a href="#0">Category 3</a></li>
          <li><a href="#0">Category 4</a></li>
          <li><a href="#0">Category 5</a></li>
          <li><a href="#0" class="placeholder">Placeholder</a></li>
        </ul>
      </li>
    </ul> <!-- .cd-main-nav -->
  </nav> <!-- .cd-main-nav-wrapper -->

  <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
</header>
<% end %>


