<!DOCTYPE html>
<html>
<head>
 <title><%= yield(:title) %> | Insomniax the social community for geeks</title>
   <meta name="msvalidate.01" content="9BF9701D09E8E5A4D09FA989AE2C5617" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "forem" %>
    <%= javascript_include_tag "forem" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
    <%= forem_atom_auto_discovery_link_tag %>
<%= render 'layouts/footer' %>
   

</head>
<body>

  <%= render 'layouts/login' %>
<!--main content-->
    <% if logged_in? %>
  <div class="container-fluid-main">
   <% else %>
      <div class="main_page">
          <% end %>

              <% if logged_in? %>
          <div id="wrapper">


                 <%= render 'layouts/sidebar' %>

             <div id="main-wrapper" class="col-lg-9 col-sm-9 col-xs-12 pull-right">
                 <div id="main">
                     <% flash.each do |message_type, message| %>
                     <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
                     <% end %>
                 <%= yield %>
             </div>
             </div>

         <%else %>
          <%= yield %>
          <%end%>


    </div>
    </div>


    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
</body>
</html>
