<!DOCTYPE html>
<html>
<head>
 <title><%= yield(:title) %> | Insomniax the social community for geeks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
    <%= forem_atom_auto_discovery_link_tag %>
<%= render 'layouts/footer' %>
   

</head>
<body>
  <header>
       <%= render 'layouts/navbar' %>
  </header>
      
  

 
<!--main content-->
   <main class="main">
    <% if logged_in? %>
         <div class="row">
           
    <div class="col s12"> 
            
  
                 <div id="main">
                     <% flash.each do |message_type, message| %>
                     <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
                     <% end %>
                 <%= yield %>
             </div>
      </div>

 
         </div>
         </main>
          
   <%else %>
         <div class="row">
            <div class="col-s12">
                 <%= yield %>   
            </div>
         
         </div>
          

 <%end%>


    
</body>
</html>
