<!DOCTYPE html>
<html>
  <head>
<%= render 'layouts/google' %>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <title><%= yield(:title) %>| Insomniax the social community for geeks</title>
     <%= favicon_link_tag 'favicon.ico' %>
    <meta name="msvalidate.01" content="9BF9701D09E8E5A4D09FA989AE2C5617"/>

        <%= display_meta_tags %>
      <meta/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='<%=  user_signed_in? ? current_user.name : "insomniax for geeks" %>' name='user-id'/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
<%= action_cable_meta_tag %>


<style media="screen">
  .v-circle{
    height: 50px;
    width: 50px
  }
  .post-body{
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  }

</style>
<script type="text/javascript">
  $('#textarea1').trigger('autoresize');
</script>
  </head>
  <body>


    <!--main content-->

    <% if user_signed_in? %>
      <%= render 'layouts/navbar' %>
    <main>
      <div class="row main">

        <div class="col s12 m8 l8">

          <div id="main">
<%= flash_messages %>
            <%= yield %>
          </div>

        </div>
        <div class="col hide-on-small-only m4 l4 ">
<%= render 'shared/sidebar' %>
        </div>

      </div>

    </main>

  <% else %>
  <%= render 'layouts/unlognavbar' %>
    <main class="main">
    <%= flash_messages %>

      <%= yield %>

    </main>

    <%= render 'layouts/footer' %>
    <% end %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900&subset=latin-ext" rel="stylesheet">
    <%= javascript_include_tag :modernizr %>
      <%= javascript_include_tag 'application'%>
  </body>
</html>
