<!DOCTYPE html>
<html>
<head>
 <title><%= yield(:title) %> | Insomniax the social community for geeks</title>
   <meta name="msvalidate.01" content="9BF9701D09E8E5A4D09FA989AE2C5617" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "forem" %>
    <%= javascript_include_tag "forem" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
    <%= forem_atom_auto_discovery_link_tag %>
<%= render 'layouts/google' %>


</head>
<body>
  <%= render 'layouts/navbar' %>

      <!--main content-->

      <% if logged_in? %>
      <main>
        <div class="row main">

          <div class="col s12 m8 l8">

            <div id="main">
              <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "notice #{message_type}") %>
              <% end %>
              <%= yield %>
            </div>
          </div>
          <div class="col hide-on-small-only m4 l4 sidebar">
            <div class="toc-wrapper">
              <%= render 'shared/activities' %>
            </div>

          </div>

        </div>
      </main>

    <% else %>

      <main class="main">
        <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "notice #{message_type}") %>
        <% end %>
        <%= render 'layouts/login_modal' %>
        <%= yield %>

      </main>

      <%= render 'layouts/footer' %>
      <% end %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</body>
</html>
